Backend/EcoTrack.Authentification/.vs
Backend/EcoTrack.Authentification/EcoTrack.Authentification.Test/bin
Backend/EcoTrack.Authentification/EcoTrack.Authentification.Test/obj
Backend/EcoTrack.Authentification/EcoTrack.Authentification.API/bin
Backend/EcoTrack.Authentification/EcoTrack.Authentification.API/obj
Backend/EcoTrack.Authentification/EcoTrack.Authentification.API/Migrations
Backend/EcoTrack.SuiviEmpreinteCarbone/.vs
Backend/EcoTrack.SuiviEmpreinteCarbone/EcoTrack.SuiviEmpreinteCarbone.Test/bin
Backend/EcoTrack.SuiviEmpreinteCarbone/EcoTrack.SuiviEmpreinteCarbone.Test/obj
Backend/EcoTrack.SuiviEmpreinteCarbone/EcoTrack.SuiviEmpreinteCarbone.API/bin
Backend/EcoTrack.SuiviEmpreinteCarbone/EcoTrack.SuiviEmpreinteCarbone.API/obj
Backend/EcoTrack.SuiviEmpreinteCarbone/EcoTrack.SuiviEmpreinteCarbone.API/Migrations