Backend/EcoTrack.Authentification/.vs
Backend/EcoTrack.Authentification/EcoTrack.Authentification.Test/bin
Backend/EcoTrack.Authentification/EcoTrack.Authentification.Test/obj
Backend/EcoTrack.Authentification/EcoTrack.Authentification.API/bin
Backend/EcoTrack.Authentification/EcoTrack.Authentification.API/obj
Backend/EcoTrack.Authentification/EcoTrack.Authentification.API/Migrations